*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    width: 470px;
    height: 300px;
    overflow-y: auto;
    cursor: copy;

}

.gridContainer{
    text-align: center;
    position: relative;
    cursor: copy;
}

.gridContainer button{
    color: white;
    border: 1px solid white;
    padding: 5px;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}

.gridContainer:hover button{
    display: block;
    cursor: copy;
}